* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    color: cornflowerblue;
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h1 {
    font-size: 64px;
}

.display {
    background-color: beige; 
    height: 125px;
    width: 500px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 72px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    background-color: cornflowerblue;
    color: bisque;
    height: 25%;
    width: 25%;
    font-size: 48px;
    border-radius: 25px;
    border: none;
}